body, html {
height : 100%;
width : 100%;
background: #ff7f50;
}
.wrapper {
font-weight : bold;
text-align : center;
}
section {
width : 100%;
height : 100%;
}
.link {
text-decoration : none;
}
.menu-toggle {
display : inline-block;
line-height : 1em;
font-size : 2em;
color : #304A7D;
}
.menu-toggle:hover, .menu-toggle:focus {
color : #ffffff;
}
.main-menu {
position : absolute;
left : -300px;
top : 0;
height : 70vh;
z-index : 999;
background : #304A7D;
height: 100%;
overflow-x: visible;
}
.main-menu .list {
list-style : none;
margin : 0;
padding : 2.5em 0 0;
height : 100%;
width : 300px;
background : #304A7D;
}
.main-menu .link {
display : block;
padding : 0.35em 15px;
line-height : 1em;
font-size : 1.5em;
color : #fff;
text-decoration : none;
}
.main-menu li:first-child .link {
border-top : 1px solid #383838;
}
.main-menu .link:hover, .main-menu .link:focus {
color : #ff7f50;
}
.main-menu .menu-close {
position : absolute;
right : 0;
top : 0;
}
.main-menu:target, .main-menu[aria-expanded="true"] {
left : 0;
outline : none;
}
.main-menu:target .menu-close, .main-menu[aria-expanded="true"] .menu-close {
z-index : 1001;
}
.main-menu:target .list, .main-menu[aria-expanded="true"] .list {
position : relative;
z-index : 1000;
}
.main-menu:target + .backdrop, .main-menu[aria-expanded="true"] + .backdrop {
position : absolute;
display : block;
content : "";
left : 0;
top : 0;
width : 100%;
height : 100%;
z-index : 998;
cursor : default;
}
header {
background : #ff7f50;
/* padding : 5px; */
color : #ffffff;
height: 20vh;
}
.headline {
text-align : right;
padding : 0 15px 0 0;
margin : 0;
color: #ffffff;
}
.input {
border : 5px solid #ffffff;
padding : 2px;
font-size : 16px;
color : #2f4f4f;
margin : 40px 0 10px 10px;
}
.list .links:hover {
color : #ff7f50;
cursor : pointer;
}
.list .list-item {
padding : 0 0 15px 15px;
}
.footer {
text-align : center;
color :  #ffffff;
}
.made-by {
  margin: 30px 0 0 0;
}
.sr-only {
position : absolute;
width : 1px;
height : 1px;
padding : 0;
margin : -1px;
overflow : hidden;
clip : rect(0,0,0,0);
border : 0;
}
.address {
  float: left;
}
.icon{
  float: right;
}
.icon-position {
  margin: 20px 0 0 20px;
}
.formatted-Address {
  list-style: none;
  padding: 5px 0;
}
.warning {
  font-size: 28px;
  padding: 20px;
  margin-left: 40%;
}
.success {
  display: none;
}
.a-fs {
  color: #304A7D;
  text-decoration: none;
}
/* Media Queries */
@media all and (min-width: 800px) {
  section   { flex: 3 0px; }
}
