.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
  0% { color: #304A7D; }
  100% { color: #FFFFFF; }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
  0% { color: #304A7D; }
 100% { color: #FFFFFF; }
}
